.heading-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
    font-weight: 600;
    width: 100%;
}
.heading-bar-wrapper img{
    width: 150px;
    height: 30px;
    margin-left: 13px;
}
.heading-bar-wrapper > .my-wrapper{
    display: flex;
    flex-direction: column;
}

.heading-bar-wrapper > .my-wrapper > #gold-text{
    color: #dace6d;
    font-size: 0.75em;
}

.heading-bar-wrapper > .my-wrapper > .nav-wrapper{
    font-weight: bolder;
}
.heading-bar-wrapper > .my-wrapper > .nav-wrapper span{
    margin-right: 6px;
}

.heading-bar-wrapper > .spark-drop-down{
    font-size: 0.75em;
    color: #9d9f9b;
}
.heading-bar-wrapper > .spark-drop-down > #arrow{
    font-size: 1em;
}

.heading-bar-wrapper > .btn-wrapper{
    width: 270px;
    display: flex;
    justify-content: space-between;
}
.heading-bar-wrapper > .btn-wrapper button{
    height: 40px;
    background-color: #383838;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    border-color: #383838;
}
#green-arrow{
    font-size: 1.1em;
    color: #49c374;
}
#JoeBamma{
    width: 90px;
}